# Preprocessing Bren oil price historical data

### Add project path to system path

In [1]:
import os
notebook_dir = os.getcwd()
parent_path=os.path.dirname(notebook_dir)

os.chdir(parent_path)

### Import modules

In [2]:
from script.preprocessing_and_EDA import Preprocessor
preprocessor=Preprocessor()

### Load the  Data

In [3]:
brent_oil_price_data=preprocessor.load_data()
brent_oil_price_data.head()

        Date  Price
0  20-May-87  18.63
1  21-May-87  18.45
2  22-May-87  18.55
3  25-May-87  18.60
4  26-May-87  18.63

### Data Overview

In [4]:
preprocessor.data_overview(brent_oil_price_data)

Number of rows:9011
Number of columns:2
Data types of each column:
Date      object
Price    float64
dtype: object

## Check missing data

In [5]:
preprocessor.check_missing(brent_oil_price_data)

Date     0
Price    0
dtype: int64

### Convert to date-time format

In [6]:
preprocessor.convert_to_datetime(brent_oil_price_data)
brent_oil_price_data.head()

        Date  Price
0 1987-05-20  18.63
1 1987-05-21  18.45
2 1987-05-22  18.55
3 1987-05-25  18.60
4 1987-05-26  18.63

## Summarize Price data

In [7]:
preprocessor.summarize_dataset(brent_oil_price_data)

,Min,Max,Mean,Median,Mode,Standard Deviation,Variance,Range,IQR,Skewness,Kurtosis
Price,9.1,143.95,48.420782,38.57,18.48,32.86011,1079.786826,134.85,51.04,0.765305,-0.61044

## Save cleaned data

In [8]:
preprocessor.save_data(brent_oil_price_data,"data/brent_oil_price_data.csv")